/* #region utilities */
:root {
    --ps-dark: #000000;
    --ps-light: #FFFFFF;
    --ps-btn-primary: #2D64E6;
    --ps-btn-secondary: #CD3D0F;
    --ps-bg-dark-lite: #BEBCBB;
    --ps-bg-blue: #161C3B;
    --ps-bg-blue-lite: #00439C;
    --ps-bg-dark: #1F1F1F;
}

/* #endregion utilities */

/* #region debug */
.debug header div {
    height: 25px;
}

.debug header nav {
    height: 50px;
    border: 1px solid green;
}

.debug main .jumbotron{
    background-color: lightblue;
    padding: 25px;
    text-align: center;
}

.debug main [class^="col"]{
    height: 150px;
    border: 1px solid violet;
    background-color: pink;
}

.debug .jumbotron.takes_two{
    height: 200px;
}

.debug footer {
    border: 1px solid blue;
}

.debug footer .dx [class^="col"] {
    border: 1px solid white;
    height: 50px;
}

/* #endregion debug */

/* #region header */
header div {
    background-color: var(--ps-dark);
}

header nav {
    background-color: var(--ps-light);
}

/* #endregion header */

/* #region main */

.new_releases{
    background-color: var(--ps-bg-dark);
    color: var(--ps-light);
}

.banner.plus{
    background-color: var(--ps-bg-dark-lite);
}


/* #endregion main */

/* #region footer */
footer{
    background-color: var(--ps-bg-blue-lite);
    color: var(--ps-light);
}
/* #endregion footer */
